*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    color: #CA955C;
    font-weight: 700;
}
 .Parent{
    display: flex;
 }
 
 .Form-Parent{
    width: 30%;
    display: flex;
    border : 5px solid;
    border-color: #E2DCC8;
    border-radius: 20px;
    align-items: flex-end
 }
 
 label{
    display: inline-block;
    width : 15%;
    font-size: 20px;
    text-align: center;
}

input{
    display: inline-block;
    width:80%;
    height: 50px;
    background-color: #0F3D3E;
    margin-top: 10px;
    font-size: 18px;
    color : #FFC18E;
    outline: none;
    border-radius: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border: 5px solid #E2DCC8;
}

thead{
    color: white;
    background-color: #876445;
    font-size: 20px;
}

.data{
    font-weight: 500;
    font-size: 20px
}

.row:nth-child(even){
    background-color: white
}

.Table-Parent{
    width:80%;
    border : 5px solid;
    border-color: #E2DCC8;
    border-radius: 20px;
    height: 500px
}

img{
    display: block;
    position: relative;
    bottom:50px;
    margin: 0 auto; 
    width: 200px;
    height: 200px;
}

input[type="submit"]{
    width: 50%;
    position:relative;
    left: 25%;
    background-color:#A47E3B;
    color: #FFC18E;
    font-size: 20px;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: aqua;
    background-color: burlywood; 
}

a{
    text-decoration: none;
    color:#CA955C;
}

a:visited{
    color: #CA955C
} 
